.main {
  background-image: url('assets/images/weather-img.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}


.list {
  display: inline-table !important;
  margin: 0 2px;
}

.listitem {
  display: flex !important;
  justify-content: space-between !important;
}

.listitem > div {
  display: inline-flex !important;
}

.forecast-icon {
  margin-top: 2px;
}

.grid-item {
  padding-left: 0 !important;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.divider {
  height: 100px;
  margin: 0 12px !important;
  background-color: #fff;
}

.paper {
  background: none !important;
  color: #fff !important;
  padding: 8px !important;
  width: 200px !important;
}